<uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
<uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
<uses-feature android:name="android.software.leanback" /> <!-- For HDMI support -->

<service android:name=".service.FrameCaptureService" 
         android:exported="false" />
<service android:name=".service.OverlayService" 
         android:exported="false" />